<header class="intro-header" style="background-image: url('images/bg.jpg')" ng-controller="headerCtrl">
  <div class="wpr">
    <div class="nav" scroll-nav>
      <div class="mod-login pull-right" ng-cloak>
        <span class="login_box" ng-hide="isLogin()"><a href="javascript:;" ng-click="login()">登录</a></span>
          <span class="logout_box"  ng-show="isLogin()">{{userInfo().name}} | <a href="javascript:;" ng-click="logout()">退出</a></span>
      </div>
      <div class="mod-nav">
        <div class="nav-list" ng-class="{'in': nav_show}">
          <ul>
            <li><a href="./vote.html">投票系统</a></li>
            <li><a href="./activity.html">活动介绍</a></li>
            <li><a href="./message.html">学生留言</a></li>
            <li><a href="./count.html">投票统计</a></li>
            <li><a href="./result.html">评选结果</a></li>
          </ul>
        </div>
        <div class="toggle" ng-click="showNav()">
          <button class="toggle-btn">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
      
    </div>

    <div class="site-heading">
      <h1>第八届“我最喜爱导师”评选活动</h1>
    </div>
  </div>
  
</header>